{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid  home-hero-img">
    <div class="row ">
        <div class="col-7 col-md-6 my-auto pt-5">
            <h1 class="display-4 logo-font text-navy py-5">
                Check Our Beautiful flower collections
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid about-container" id="about">
    <div class="row">
        <div class="offset-1 col-10 text-center text-navy">
            <h1 class="logo-font-main text-navy py-3">About Us</h1>
            <p class="text-navy mt-3 text-center text-custum">
                We are a premier florist and floral designer reputed for its warm, dependable, and personalized service.
                We offer an ever-blooming range of floral services for every conceivable need from private events to
                corporate events, festival decor, corporate decor, and home decor. You can be assured of professional
                and value-for-money& service. <br />
                Home, or rather garden to the most exotic flowers, we offer a breath-taking variety, unavailable
                elsewhere in the world. With fresh cut flowers for every reason and occasion arranged in stunning
                combinations and wrapped to perfection in a choice of styles, you will find that gifting flowers to your
                near & dear is best, when it's done through us.<br />

            </p>
        </div>
    </div>
</div>
<section id="contact" class="container-fluid contact-container">
    <h1 class="text-center logo-font-main text-navy uppercase py-3 ">Contact <strong>Us</strong></h1>
    <h4 class="text-center text-navy font-italic  py-3 "> Let us know how we can help; a member of our Customer Happiness Team will respond as soon as possible</h4>
    <div class="row pt-3">
        <div class="col-md-8 py-3">
            <form>
                <div class="row">
                    <div class="col-lg-6 pt-4">
                        <input class="form-control form-control-md validate" placeholder="Your Name" id="name"
                            name="name" type="text" required />
                    </div>
                    <div class="col-lg-6 pt-4">
                        <input class="form-control form-control-md validate" placeholder="Email" id="email" name="email"
                            type="text" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pt-4">
                        <input class="form-control form-control-md validate" placeholder="Subject" id="subject"
                            name="subject" type="text" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pt-4">
                        <textarea class="form-control form-control-md validate" placeholder="Your Message" id="message"
                            name="message" minlength="5" maxlength="200" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-4">
                        <button type="submit" class="btn-large btn-navy btn-block">
                            Send
                            <i class="fas fa-envelope right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 pt-5">
            <ul class="list-unstyled text-center text-navy">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Berlin - Germany</p>
                </li>
                <li><i class="fas fa-phone fa-2x"></i>
                    <p>+ 49 176 223 6782</p>
                </li>
                <li><i class="fas fa-envelope fa-2x"></i>
                    <p>matthiola@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}