@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lato:ital,wght@0,400;1,100;1,300;1,400&display=swap');


html {
    height: 100%;
}

body {
    height: 100vh;
    font-family: 'Lato';
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.logo-font-main {
    font-family: 'Akaya Telivigala';
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-navy {
    background: #010135;
    color: white;
}


.text-navy {
    color: #010135 !important;
}

.border-navy {
    border: 1px solid #010135 !important;
}

.nav-link{
    padding-left: 10px;
    padding-right: 10px;
}

.bg-navy {
    background: #010135 !important;
}



.product-img {
   height: 260px;
}

/* ------------------------------------------------The Banner Msg */


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* ------------------------------------------------Hero Images*/

.products-hero-img {
  background:  url('/static/images/hero-imgs/flowers2.jpg') no-repeat center center;
  background-size: cover;
  height: calc(80vh - 164px);;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/* credit: code for floating buttons taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
and edited slightly to fit project needs */

#to-top-btn {
  position: fixed;
  bottom: 15px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: #010135;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

#to-top-btn.active {
  pointer-events: auto;
  opacity: 0.7;
}

#to-top-btn.active:hover {
  opacity: 1;
}




/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
