<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-navy mr-5" href="{% url 'products' %}"
                id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Online Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=occasion&direction=asc" class="dropdown-item ">By Occasions</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-navy mr-5" href="#" id="flowers-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flowers-link">
                <a href="" class="dropdown-item">Flowers By Type</a>
                <a href="" class="dropdown-item">Flowers By color</a>
                <a href="{% url 'products' %}?category=flower" class="dropdown-item">All Flowers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-navy mr-5" href="#" id="plants-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plants-link">
                <a href="{% url 'products' %}?category=green-plant" class="dropdown-item">Green Plants</a>
                <a href="{% url 'products' %}?category=flowering-plant" class="dropdown-item">Flowering Plants</a>
                <a href="{% url 'products' %}?category=green-plant,flowering-plant" class="dropdown-item">All Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-navy" href="#" id="gift-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift-link">
                <a href="{% url 'products' %}?category=special-gift" class="dropdown-item">Special Gift</a>
                <a href="{% url 'products' %}?category=basket-gift" class="dropdown-item">Baskets Gift</a>
                <a href="{% url 'products' %}?category=baby-gift" class="dropdown-item">Baby Gift</a>
                <a href="{% url 'products' %}?category=special-gift,basket-gift,baby-gift" class="dropdown-item">All
                    Gifts</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-navy" href="#" id="occasions-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Occasions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="occasions-link">
                <a href="{% url 'products' %}?occasion=birthday" class="dropdown-item">Birthday</a>
                <a href="{% url 'products' %}?occasion=anniversary" class="dropdown-item">
                    Anniversary</a>
                <a href="{% url 'products' %}?occasion=congratulations" class="dropdown-item">
                    Congratulations</a>
                <a href="" class="dropdown-item">Love &amp; Romance</a>
                <a href="{% url 'products' %}?occasion=wedding" class="dropdown-item">Wedding</a>
                <a href="{% url 'products' %}?occasion=birthday,anniversary,congratulations,love-romance,wedding" class="dropdown-item">All Occasions</a>
            </div>
        </li>
    </ul>
</div>